<a href="https://colab.research.google.com/github/GANESH300118/Python_New/blob/Module_2/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def ganesh():
  print("Hello")
  print("World")
ganesh()

Hi
Hello
World

In [ ]:
def addition():
  a=123
  b=556
  c=a+b
  print('a+b =',c)
addition()

a+b = 679

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
def cars(car):
  print(car)
cars("mustang")

mustang

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
def voter(name,gender,age):
  print("name=",name,'gender=',gender,"age=",age)
voter('ganesh','Male',20)

name= ganesh gender= Male age= 20

In [ ]:
def voting_eligibility(name,age,gender):
  print('Name=',name,'Age=',age,'Gender=',gender)
  if age>=18:
    print("Eligible")
  else:
    print('Not eligible')
voting_eligibility('Ganesh',19,'Male')

Name= Ganesh Age= 19 Gender= Male
Eligible

In [ ]:
def leap_year():
  year=int(input())
  if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))
  elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
  else:
    print("{0} is not a leap year".format(year))
leap_year()

2012
2012 is a leap year

In [ ]:
def operations(a,b):
  print("Addition is ",a+b)
  print("Substarction of the 2 numbers is ",a-b)
  print("Multiplication of the 2 numbers is ",a*b)
  print("Division of the 2 numbers is ",a/b)
  print("Remainder of the 2 numbers is ",a%b)
operations(float(input()),float(input()))

550
456
Addition is  1006.0
Substarction of the 2 numbers is  94.0
Multiplication of the 2 numbers is  250800.0
Division of the 2 numbers is  1.206140350877193
Remainder of the 2 numbers is  94.0

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])
my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [ ]:
def voting_eligibility(*details):
  print('Name=',details[0],'Age=',details[1],'Gender=',details[2])
  if details[1]>=18:
    print("Eligible")
  else:
    print('Not eligible')
voting_eligibility('Ganesh',19,'Male')
voting_eligibility(str(input()),int(input()),str(input()))

Name= Ganesh Age= 19 Gender= Male
Eligible
yogesh
14
Male
Name= yogesh Age= 14 Gender= Male
Not eligible

In [ ]:
def function(x):
  return 10*x
print(function(5))

50

 # python built-in functions

In [ ]:
# absolute
a=-24.2
b=abs(a)
print(b)
# pow
a=56
c=pow(a,3)
print(c)

24.2
175616