<a href="https://colab.research.google.com/github/GANESH300118/Python_New/blob/Module_2/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
friut=['apple', 'orange', 'bannana', 'pineapple', 'mango']
print(friut[4])
print(friut[-1])
print(friut[-2])
friut.append('grapes')
friut.insert(2,'blueberry')
print("The size of friut is",len(friut))
print(friut)
friut.pop(2)
print(friut)
(friut.reverse())
print(friut)
friut.sort()
print(friut)
b=friut.copy()
print(b)
print(friut[0:5])
print(friut[:3])
print(friut[3:])
b.clear()
print(b)

mango
mango
pineapple
The size of friut is 7
['apple', 'orange', 'blueberry', 'bannana', 'pineapple', 'mango', 'grapes']
['apple', 'orange', 'bannana', 'pineapple', 'mango', 'grapes']
['grapes', 'mango', 'pineapple', 'bannana', 'orange', 'apple']
['apple', 'bannana', 'grapes', 'mango', 'orange', 'pineapple']
['apple', 'bannana', 'grapes', 'mango', 'orange', 'pineapple']
['apple', 'bannana', 'grapes', 'mango', 'orange']
['apple', 'bannana', 'grapes']
['mango', 'orange', 'pineapple']
[]

In [ ]:
N=[12,16,45,63]
m=[33,69,99,109]
print(m[0]+N[2])
print(N[0]+N[1]+N[2]+N[3])
print(N[0:4]+m[0:4])

[12, 16, 45, 63, 33, 69, 99, 109]
78
136

In [ ]:
a=[1,[3,4,5],7,9,6]
print(a[1])
print(a[0]+a[3])

[3, 4, 5]
10

In [ ]:
a = []
for i in range(int(input())):
    a.append(int(input()))
print(a)

5
1
2
3
4
5
[1, 2, 3, 4, 5]

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
friut=['apple', 'orange', 'bannana', 'pineapple', 'mango']
print(friut[4])
print(friut[-1])
print(friut[-2])
friut.append('grapes')
print(friut)

mango
mango
pineapple
['apple', 'orange', 'bannana', 'pineapple', 'mango', 'grapes']

In [ ]:
friut=['apple', 'orange', 'bannana', 'pineapple', 'mango']
print(friut[4])
print(friut[-1])
print(friut[-2])
friut.insert(2,'blueberry')
print(friut)

mango
mango
pineapple
['apple', 'orange', 'blueberry', 'bannana', 'pineapple', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = "Hello, World!"
print(a[1])

e

In [ ]:
a = "Hello, World!"
print(len(a))

13

In [ ]:
# txt = "The best things in life are free!"
print("free" in txt)
txt = "The best things in life are free!"
print("free" in txt)

True
True

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
# Write a program of swapping of two numbers (first question)
a=2
b=3
c=a
a=b
b=c
print("Result =",a,b)

Result = 3 2

In [ ]:
# Find out the square root of the number (2nd question)
import math
a=int(input())
s=math. sqrt(a)
print(s)

4
2.0

In [ ]:
# Find out the Largest of three numbers from the give input (3rd question)
a=5
b=3
c=2
if a>b and b>c:
    print(a)
elif b>a and a>c:
    print(b)
else:
    print(c)

5

In [ ]:
# Add Black color to the given list in the 4th place, In Rainbow = ['Red', 'Orange', 'Yellow', 'Green'] [4th question]
Rainbow = ['Red', 'Orange', 'Yellow', 'Green']
Rainbow.insert(3,'Black')
print(Rainbow)

['Red', 'Orange', 'Yellow', 'Black', 'Green']

In [ ]:
a,b,c,d='10','20','30','40'
print(int(a))
print(int(b))
print(int(c))
print(int(d))

10
20
30
40

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
for x in range(0,100):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
for x in "Ganesh":
  print(x)

G
a
n
e
s
h

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[3]="blackberry"
print(thislist[-2:])
print(thislist)
thislist[1:3]=["leachi","grapes"]
print(thislist)
thislist.insert(3,"blackcurrent")
print(thislist)
thislist.append("orange")
print(thislist)

['melon', 'mango']
['apple', 'banana', 'cherry', 'blackberry', 'kiwi', 'melon', 'mango']
['apple', 'leachi', 'grapes', 'blackberry', 'kiwi', 'melon', 'mango']
['apple', 'leachi', 'grapes', 'blackcurrent', 'blackberry', 'kiwi', 'melon', 'mango']
['apple', 'leachi', 'grapes', 'blackcurrent', 'blackberry', 'kiwi', 'melon', 'mango', 'orange']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']