<a href="https://colab.research.google.com/github/GANESH300118/Python_New/blob/Module_2/mid_1(practise).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# write a programe to print prime number in given range by using functions[25-50]

In [ ]:
def prime(a,b):
  for i in range(a, b+1):
    k=0
    for j in range(2,i):
      if(i%j==0):
        k=k+1
    if k==0:
      print(i)
prime(25,50)

29
31
37
41
43
47

# write a programe to read any month in integer and display days for that month.

In [ ]:
n=int(input())
if n>0 and n<13:
  if (n==1 or n==3 or n==5 or n==7 or n==8 or n==10 or n==12):
    print('This month has 31 days in it.')
  elif(n==2):
    print('This month has 28 days in it.')
  else:
    print('This month has 30 days in it.')
else:
  print('Enter number between 1 and 12')

8
This month has 31 days in it.

# write a programe to print even length words in a string.

In [ ]:
def words(s):
  s=s.split(' ')
  for i in s:
    if len(i)%2==0:
      print(i) 
p="I have python mid examination this thursday"
words(p)

have
python
this
thursday

# 1. write a programe to capitalize the first and last letter of a word in a string.
# 2. write a programe to read a string from user display first character of each word with capital letter

In [ ]:
# Q1
def FirstAndLast(string):
  ch = list(string)
  i = 0
  while i<len(ch):
    k=i
    while(i<len(ch) and ch[i]!=""):
        i+=1
    if (ord(ch[k]) >= 97 and ord(ch[k]) <= 122 ):
      ch[k] = chr(ord(ch[k]) - 32)
    else:
      ch[k] = ch[k]       
    if(ord(ch[i - 1]) >= 90 and ord(ch[i - 1]) <= 122 ):
      ch[i - 1] = chr(ord(ch[i - 1]) - 32);
    else:
      ch[i - 1] = ch[i - 1]
      i += 1
  return "" . join(ch)
if __name__ == "__main__" :
    string = "I have mid on thursday"
    print(string)
    print(FirstAndLast(string))

I have mid on thursday
I have mid on thursdaY

# write a python programe to convert a list of multiple integers into a string.
[11,33,59]
output=[113359]

In [ ]:
list=eval(input('List of numbers:'))
for x in list:
  print(x,end="")

List of numbers:[22,33,44]
223344

# write a program to find power of numbers with recursion and without recursion.

In [ ]:
# Using recursion
def power(a,b):
  if b==0:
    return 1
  else:
    return (a*power(a,b-1))
print(power(2,3))
# whithout recursion
import math
a=int(input())
b=int(input())
print(math.pow(a,b))

8
5
3
125.0

# write a programe to sort tuples by total digits 
input list=[(3,4,6,723),(1,2),(134,234,34)]

In [ ]:
a=[(3,4,6,723),(1,2),(134,234,34)]
a.sort()
print(a)

[(1, 2), (3, 4, 6, 723), (134, 234, 34)]

# Take five subject marks from the user and display the grades.
if average is 92 o grade 
              82 a grade
              72 b grade
              .
              .
              .

In [ ]:
a=int(input('Enter the Math marks:'))
b=int(input('Enter the Hindi marks:'))
c=int(input('Enter the Social marks:'))
d=int(input('Enter the Science marks:'))
e=int(input('Enter the English marks:'))
avg=((a+b+c+d+e)//5)
if avg>=92:
  print('The grade is O')
elif avg>=82 and avg<92:
  print('The garde is A')
elif avg>=72 and avg<82:
  print('The grade is B')
elif avg>=62 and avg<72:
  print('The grade is C')
elif avg>52 and avg<62:
  print('The grade is D')
elif avg>=40 and avg<52:
  print('The grade is JUST PASS')
else:
  print('FAIL')

Enter the Math marks:92
Enter the Hindi marks:97
Enter the Social marks:98
Enter the Science marks:78
Enter the English marks:92
The garde is A

# write a programe that prints 1 if all the three given numbers are in ascending order otherwise print 0.

In [ ]:
a=int(input('Enter the number1:'))
b=int(input('Enter the number2:'))
c=int(input('Enter the number3:'))
if b==a+1 and c==a+2:
  if a<b and b<c:
    print('1')
  else:
    print('0')
else:
  print('Given numers sre not in series')

Enter the number1:6
Enter the number2:7
Enter the number3:8
1

# check give number is perfect or not.

In [ ]:
i=1
sum=0
n=int(input())
while i<n:
  if n%i==0:
    sum=sum+i
    i=i+1
  else:
    i=i+1
if n==sum:
  print("The given number is perfect number")
else:
  print("The given number is not a perfect number")

496
The given number is perfect number

# check if given string is palendrome or not.

In [ ]:
s='mom'
b=s[::-1]
if b==s:
  print('It is a palindrome')
else:
  print('Not a pallindrome')

It is a palindrome

# find the gcd of two numbers with and without recursion.

In [ ]:
# without recursion
import math
a=int(input())
b=int(input())
print(math.gcd(a,b))
# with recursion
def gcd(c,d):
  return (math.gcd(c,d))
c=int(input())
d=int(input())
print(gcd(c,d))

15
5
5
8
9
1

.# print sum of digits in a give number.
input=1243
output=2+4=6

In [ ]:
n=int(input("Enter a number:"))
s=0
while n>0:
    r=n%10
    if r%2==0:
        s=s+r
        n=n//10
    else:
      n=n//10
print("Sum of even digits:",s)

Enter a number:1234
Sum of even digits: 6

22# calculate the the sum of squares of digits of a number given by the user,.
input=123
output=1^2+2^2+3^2=14

In [ ]:
num = int(input())
sum = 0
while num!=0:
    rem = num%10
    sqr = rem*rem
    sum = sum+sqr
    num = int(num/10)
print(sum)

123
14

# given a string is s='abcdefcba'. front and last match is count+1

In [ ]:
a=str(input())
b=a[::-1]
l=int((len(a)/2))
c=0
for i in range(0,l):
  if a[i]==b[i]:
    c=c+1
print(c)

# input=4
output=1223334444

In [ ]:
n=int(input())
a=0
for x in range(0,n):
  if a<x:
   print(x*x)

4
1
4
9

# print number of vowels and constants
input=Gitam university
output=5-vowels
       10-constants

In [ ]:
a=str(input())
v=0
c=0
for i in a:
  if i=='a' or i=='e' or i=='o'or i=='u'or i=='i':
    v+=1
  else:
    c+=1
print(v)
print(c)

gitamuniversity
6
9

# given two integers a and b if a<b print all numnbers a-b in ascending order
and if a>b print in descending order

In [ ]:
a=int(input())
b=int(input())
if a<b:
  for i in range(a,b):
    print(i)
else:
  for i in range(a,b,-1):
    print(i)

2
10
2
3
4
5
6
7
8
9

# programe to print largest among the three numbers.

In [ ]:
a=int(input())
b=int(input())
c=int(input())
if (a >= b) and (a >= c):
   largest = a
elif (b >= a) and (b >= c):
   largest = b
else:
   largest = c

print("The largest number is", largest)

5
6
7
The largest number is 7

# write a programe to count the number of strings where the string length is 2 or more and the first and last charecter are same.
# input=[('aba','1221','37336')]--output=2

In [ ]:
def match(words):
  d=0
  for x in words:
    if len(words) > 1 and x[0] == x[-1]:
      d+=1
  return d
print(match(['abc','xyz','aba','1221']))

2

# there is a walking track of 3 km one round=3+3=6 take input of from user how many days he went and how many rounds he completed
if <400 mts message='work more'
if >40000 mts message=good job

In [ ]:
days=int(input('Enter no of days:'))
no=int(input("enter no of rounds per day:"))
num=(no*600)
dis=days*num
if dis<400:
  print("need to work more")
elif dis>=40000:
  print("excellent job")
else:
  print("Not bad")

Enter no of days:5
enter no of rounds per day:2
Not bad

# give a list of names in l=[ ] and include charecters also display the names of student whose first letter is given as input

In [ ]:
test_str =['hello','Hello']
print("The original string is : " + str(test_str))
for ele in test_str:
   if ele.isupper():
     print(ele)

The original string is : ['hello', 'Hello']

# give a list of city names, print whose string length is greater than the given length.

In [ ]:
list=['delhi','Mumbai','Goa']
l=int(input())
for x in list:
  if len(x)>l:
    print(x)

2
delhi
Mumbai
Goa