<a href="https://colab.research.google.com/github/GANESH300118/Python_New/blob/Module_2/Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Factoial in python.
import math
n=int(input())
print(math.factorial(n))

10
3628800

In [ ]:
# Create a function which accepts two inputs from the user and compute nCr
import math
n=int(input())
r=int(input())
def factorial(n):
  x=math.factorial(n)
  return x
def ncr(n,r):
  y=factorial(n)
  z=factorial(r)
  c=factorial(n-r)
  ncr=y/(z*c)
  print(ncr)
ncr(n,r)

10
5
252.0

In [ ]:
# Recursive function to compute GCD of 2 numbers.
def gcd(a,b):
    if(b==0):
        return a
    else:
        return gcd(b,a%b)
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
GCD=gcd(a,b)
print("GCD is: ")
print(GCD)

Enter first number:5
Enter second number:3
GCD is:
1

In [ ]:
# Recursive function to find product of two numbers
def product(a,b):
  return a*b
a=int(input())
b=int(input())
print('The product of he given numbers is:',product(a,b))

25
24
The product of he given numbers is: 600

In [ ]:
# Recursive function to generate Fibonacci series
def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))
n=int(input('Enter the number of terms requird in fiboacci sequence:'))
if n <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(n):
       print(recur_fibo(i))

Enter the number of terms requird in fiboacci sequence:20
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [ ]:
# Program to print a specified list after removing the 0th, 4th and 5th elements.
# Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
# Expected Output : ['Green', 'White', 'Black']
list=['Red','Green','White','Black','Pink','Yellow']
print(list[1:4])

['Green', 'White', 'Black']

In [ ]:
# Program to get the difference between the two lists.
list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]
diff_list1_list2 = list(set(list1) - set(list2))
diff_list2_list1 = list(set(list2) - set(list1))
total_diff = diff_list1_list2 + diff_list2_list1
print(total_diff)

[9, 3, 5, 8, 2, 4, 6]

# x Program to find the second smallest number and second largest number in a list

In [ ]:
list1=[1,22,33,43,53,64,7,5,86]
length = len(list1)
list1.sort()
print("Largest element is:", list1[length-1])
print("Smallest element is:", list1[0])
print("Second Largest element is:", list1[length-2])
print("Second Smallest element is:", list1[1])

[1, 5, 7, 22, 33, 43, 53, 64, 86]
Largest element is: 86
Smallest element is: 1
Second Largest element is: 64
Second Smallest element is: 5

In [ ]:
# Given a list of numbers of list, write a Python program to create a list of tuples having first element as the number and second element as the square of the number.
import math
list1=[37,109,118,347,70,66]
list2=[3,5,7,11,13,17,23,29]
print(list1)
print(list2)
tuples1=[(x, pow(x, 2)) for x in list1]
tuples2=[(x, pow(x, 2)) for x in list2]
print(tuples1)
print(tuples2)

[37, 109, 118, 347, 70, 66]
[3, 5, 7, 11, 13, 17, 23, 29]
[(37, 1369), (109, 11881), (118, 13924), (347, 120409), (70, 4900), (66, 4356)]
[(3, 9), (5, 25), (7, 49), (11, 121), (13, 169), (17, 289), (23, 529), (29, 841)]

In [ ]:
# Given list of tuples, remove all the tuples with length K. 
# Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
# Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
l=[(4, 5),(4, ),(8, 6, 7),(1, ),(3, 4, 6, 7)]
k=int(input("Enter the limitimg number:"))
for x in l:
  if len(x)!=k:
    print([x],end="")

Enter the limitimg number:2
[(4,)][(8, 6, 7)][(1,)][(3, 4, 6, 7)]

In [ ]:
# Program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x). 
n=int(input("Input a number "))
d=dict()
for x in range(1,n+1):
    d[x]=x*x
print(d)

Input a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# Program to remove a key from a dictionary.
dict1={'a':1,'b':3,'c':12,'d':4}
print(dict1)
if 'a' in dict1:
  del dict1['a']
print(dict1)

{'a': 1, 'b': 3, 'c': 12, 'd': 4}
{'b': 3, 'c': 12, 'd': 4}

In [ ]:
# Program to get the maximum and minimum value in a dictionary.
my_dict = {'x':996, 'y':5467, 'z':891}
key_max = max(my_dict.keys(), key=(lambda k: my_dict[k]))
key_min = min(my_dict.keys(), key=(lambda k: my_dict[k]))
print('Maximum Value: ',my_dict[key_max])
print('Minimum Value: ',my_dict[key_min])

Maximum Value:  5467
Minimum Value:  891

In [ ]:
#Q-Program to perform operations on string using unicodes ,splitting of string,accessing elements of string using locations.
#1 unicode of strings
import re
test_str = 'I am alwas worthy and unique'
print("The original string is : " + str(test_str))
res = (re.sub('.', lambda x: r'\u % 04X' % ord(x.group()), test_str))
print("The unicode converted String : " + str(res))
#2 spliting strings
text="Batman always has robin along his side."
print("The text is {0}".format(text))
print(text.split())
#3 accessing the elements in a string
string1="How are you bro, going to doctor strange today."
print("The string is {0}".format(string1))
print("Last character of String is: ")
print(string1[-1])

The original string is : I am alwas worthy and unique
The unicode converted String : \u  049\u  020\u  061\u  06D\u  020\u  061\u  06C\u  077\u  061\u  073\u  020\u  077\u  06F\u  072\u  074\u  068\u  079\u  020\u  061\u  06E\u  064\u  020\u  075\u  06E\u  069\u  071\u  075\u  065
The text is Batman always has robin along his side.
['Batman', 'always', 'has', 'robin', 'along', 'his', 'side.']
The string is How are you bro, going to doctor strange today.
Last character of String is:
.

In [ ]:
# Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements.
def count(s, c):
  res = 0
  for i in range(len(s)):
    if (s[i] == c):
      res = res + 1
  return res
str= "Batman always has robin along his side."
c = 'h'
print(count(str, c))

2

In [ ]:
# Program for replacing one substring by another For example.
string = input("Enter the full string: ")
substring = input("Enter the substring to be replaced:")
replacing_string = input("Enter the string to be replaced:")
print (string.replace(substring, replacing_string))

Enter the full string: Rabbit
Enter the substring to be replaced:bb
Enter the string to be replaced:cc
Raccit

In [ ]:
# Program to Acronym generator for any user input.
def fxn(stng):
  oupt = stng[0]
  for i in range(1, len(stng)):
    if stng[i-1] == ' ':
      oupt += stng[i]
  oupt = oupt.upper()
  return oupt  
inpt1 = "Computer Science Engineering"
print(fxn(inpt1))

CSE

In [ ]:
# Python function that accepts a string and calculates the number of uppercase letters and lowercase letters.
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters:",d["UPPER_CASE"])
    print ("No. of Lower case Characters:",d["LOWER_CASE"])
string_test('Batman always has Robin along his side.')

Original String :  Batman always has Robin along his side.
No. of Upper case characters: 2
No. of Lower case Characters: 30

In [ ]:
# Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings 
def match_words(words):
  ctr = 0
  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr
print(match_words(['abc', 'xyz', 'aba', '1221']))

2

In [ ]:
string = input("Enter the full string: ")
substring = input("Enter the substring to be replaced:")
replacing_string = input("Enter the string to be replaced:")
print (string.replace(substring, replacing_string))

Enter the full string: rabbit
Enter the substring to be replaced:bb
Enter the string to be replaced:cc
raccit