<a href="https://colab.research.google.com/github/GANESH300118/Python_New/blob/Module_2/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
thisset = {"Harish","Mahesh", "Divya", "Sonu"}
print(len(thisset))

4

In [ ]:
thisset = set(("Mahesh", "Divya", "Sonu")) # note the double round-brackets
print(thisset)

{'Mahesh', 'Divya', 'Sonu'}

In [ ]:
thisset = {"Mahesh", "Divya", "Sonu"}
print("Mahesh" in thisset)
print("banana" in thisset)

True
False

In [ ]:
thisset = {"Mahesh", "Divya", "Sonu"}
for x in thisset:
  print(x)

Mahesh
Divya
Sonu

In [ ]:
thisset = {"Mahesh", "Divya", "Sonu"}
thisset.add("ravi")
print(thisset)

{'Mahesh', 'ravi', 'Divya', 'Sonu'}

In [ ]:
a=(1,2,3,4,1,3,1,4,5,6,3,3,2,4)
print(a)
b=list(a)
print('The list of a is',b)
for i in list(b):
  if i==1:
    b.remove(i)
    d=tuple(b)
    print('The tuple of a is',d)
c=set(a)
print('The set of a is',c)

(1, 2, 3, 4, 1, 3, 1, 4, 5, 6, 3, 3, 2, 4)
The list of a is [1, 2, 3, 4, 1, 3, 1, 4, 5, 6, 3, 3, 2, 4]
The tuple of a is (2, 3, 4, 1, 3, 1, 4, 5, 6, 3, 3, 2, 4)
The tuple of a is (2, 3, 4, 3, 1, 4, 5, 6, 3, 3, 2, 4)
The tuple of a is (2, 3, 4, 3, 4, 5, 6, 3, 3, 2, 4)
The set of a is {1, 2, 3, 4, 5, 6}

In [ ]:
thisset = {"Harish","Mahesh", "Divya", "Sonu"}
print(thisset)

{'Mahesh', 'Divya', 'Sonu', 'Harish'}

In [ ]:
thisset = {"Harish","Mahesh", "Divya", "Sonu"}
for x in thisset:
  print(x)

Mahesh
Divya
Sonu
Harish

In [ ]:
thisset = {"Harish","Mahesh", "Divya", "Sonu"}
print("harish" in thisset)
print("Harish" in thisset)

False
True

In [ ]:
thisset = {"Harish","Mahesh", "Divya", "Sonu"}
thisset.add("orange")
print(thisset)

{'Divya', 'orange', 'Sonu', 'Harish', 'Mahesh'}

In [ ]:
thisset = {"Harish","Mahesh", "Divya", "Sonu"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'mango', 'Divya', 'Harish', 'pineapple', 'Mahesh', 'Sonu', 'papaya'}

In [ ]:
thisset = {"Harish","Mahesh", "Divya", "Sonu"}
thisset.remove("Divya")
print(thisset)

{'Mahesh', 'Sonu', 'Harish'}

In [ ]:
thisset = {"Harish","Mahesh", "Divya", "Sonu"}
thisset.discard("Divya")
print(thisset)

{'Mahesh', 'Sonu', 'Harish'}

In [ ]:
thisset = {"Harish","Mahesh", "Divya", "Sonu"}
x = thisset.pop()
print(x)
print(thisset)

Mahesh
{'Divya', 'Sonu', 'Harish'}

In [ ]:
thisset = {"Harish","Mahesh", "Divya", "Sonu"}
thisset.clear()
print(thisset)

set()

In [ ]:
# This error occurs due to the fact that (" del thisset") is used and the set doesn't exist.
thisset = {"Harish","Mahesh", "Divya", "Sonu"}
del thisset
print(thisset)

NameError: ignored

In [ ]:
# The union() method returns a new set with all items from both sets:
set1 = {"Harish","Mahesh", "Divya", "Sonu"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 'Divya', 3, 'Harish', 'Mahesh', 'Sonu'}

In [ ]:
# The update() method inserts the items in set2 into set1:
# Note: Both union() and update() will exclude any duplicate items.
set1 = {"Harish","Mahesh", "Divya", "Sonu"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 'Divya', 3, 'Harish', 'Mahesh', 'Sonu'}

In [ ]:
# The intersection_update() method will keep only the items that are present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [ ]:
# The intersection() method will return a new set, that only contains the items that are present in both sets.
x = {"apple", "banana", "cherry","google"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'google', 'apple'}

In [ ]:
# The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.
x = {"apple", "banana", "cherry","google"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'cherry', 'banana', 'microsoft'}

In [ ]:
# The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.
x = {"apple", "banana", "cherry","google"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'banana', 'cherry', 'microsoft'}