<a href="https://colab.research.google.com/github/GANESH300118/Python_New/blob/Module_2/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# A tuple is a collection which is ordered and unchangeable.
thistuple = ("mahesh", "ramesh", "ravi")
print(thistuple)

('mahesh', 'ramesh', 'ravi')

In [ ]:
# When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.
# Tuple once created cannot be changed, but it allows dulicated(similar) values 
thistuple = ("mahesh", "harish", "usha", "divya", "yogesh")
print(thistuple)

('mahesh', 'harish', 'usha', 'divya', 'yogesh')

In [ ]:
# Access Tuple Items
# You can access tuple items by referring to the index number, inside square brackets:
thistuple = ("mahesh", "ramesh", "ravi")
print(thistuple[0])
print(thistuple[1])
print(thistuple[2])

mahesh
ramesh
ravi

In [ ]:
# Negative Indexing
# Negative indexing means start from the end.
# -1 refers to the last item, -2 refers to the second last item etc.
thistuple = ("mahesh", "ramesh", "ravi")
print(thistuple[0])
print(thistuple[-1])
print(thistuple[-2])

mahesh
ravi
ramesh

In [ ]:
# The search will start at index 2 (included) and end at index 5 (not included).
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])
print(thistuple[:5])
print(thistuple[3:7])
print(thistuple[3:])

('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange', 'kiwi')
('orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon', 'mango')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-2])

('orange', 'kiwi')

In [ ]:
# Check if "apple" is present in the tuple:
thistuple = ("mahesh", "ramesh", "ravi")
if "mahesh" in thistuple:
  print("Yes, 'black' is in the thistuple")

Yes, 'black' is in the thistuple

In [ ]:
thistuple = ("mahesh", "ramesh", "ravi")
print(type(thistuple))

<class 'tuple'>

In [ ]:
x= ("mahesh", "ramesh", "ravi")
y = list(x)
y[1] = "kiwi"
print(y)
x = tuple(y)
print(x)

['mahesh', 'kiwi', 'ravi']
('mahesh', 'kiwi', 'ravi')

In [ ]:
thistuple= ("mahesh", "ramesh", "ravi")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('mahesh', 'ramesh', 'ravi', 'orange')

In [ ]:
thistuple =("mahesh", "ramesh", "ravi")
y = ("orange",)
thistuple += y
print(thistuple)

('mahesh', 'ramesh', 'ravi', 'orange')

In [ ]:
thistuple = ("mahesh", "ramesh", "ravi")
y = list(thistuple)
y.remove("ravi")
thistuple = tuple(y)
print(thistuple)

('mahesh', 'ramesh')

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
# #this will raise an error because the tuple no longer exists
print(thistuple)

NameError: ignored

In [ ]:
n = int(input("Enter the number of rows"))
for i in range(0,n):
  for j in range(0,i+1):
      print('*',end="")
  print()

Enter the number of rows5
*
**
***
****
*****

In [ ]:
thistuple = ("mahesh", "ramesh", "ravi")
for i in range(len(thistuple)):
  print(thistuple[i])

mahesh
ramesh
ravi

In [ ]:
year=int(input("Enter the year: "))
if (year%400==0 and year%100==0):
  print('{0} is a lap year'.format(year))
elif (year%4==0 and year%100!=0):
  print('{0} is a leap year'.format(year))
else:
  print("{0} is not a leap year".format(year))

Enter the year 2012
2012 is a leap year